---
import './Quote.scss';
---

<div class="quote">
    <div class="quote__image">
        <img src="../../../public/assets/images/imagesGalery/cathedral-6830526_1280.jpg" alt="quote" />
    </div>
    <div class="quote__content">
        <div class="quote__text">
            <h2 class="quote__title">
                Obten una cotización para tu viaje
            </h2>
            <p class="quote__description">
                ¿Tienes dudas sobre el destino que quieres visitar?
                <br />
                Llena el formulario y nos pondremos en contacto contigo
            </p>
        </div>
        <div class="quote__form">
            <form action="" class="form">
                <div class="form__group">
                    <input type="text" id="name" class="name" placeholder="Nombre y Apellidos"/>
                    <input type="text" id="email" class="email" placeholder="Email"/>
                    <input type="text" id="phone" class="phone" placeholder="Celular"/>
                    <input type="text" id="country" class="country" placeholder="Pais"/>
                    <input type="text" id="city" class="city" placeholder="Ciudad"/>
                    <input type="text" id="date" class="date" placeholder="Fecha"/>
                    <input type="text" id="budget" class="budget" placeholder="Presupuesto"/>
                    <textarea name="message" id="message" class="message" placeholder="Comentario"></textarea>
                </div>
            </form>
        </div>
        <button class="quote__button">Enviar</button>
    </div>
</div>