---
import './Footer.scss';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" />

    <title>Footer</title>
</head>
<body>

    <footer class="footer">        

        <div class="container">
            <div class="footer-row">

                <p>&copy; 2024 Amadeus. All rights reserved</p>
                <br>


                <div class="footer-links">
                    <h4>Product</h4>

                    <ul>

                    <li><a href="#">Overview</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Tutorials</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Sala de Prensa</a></li>
                    <li><a href="#">Releases</a></li>

                    </ul>
                </div>

                <div class="footer-links">
                    
                    <h4>Company</h4>

                    <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Partners</a></li>
                    
                    </ul>
                </div>

                <div class="footer-links">
                    <h4>Support</h4>

                    <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Privace Policy</a></li>
                    <li><a href="#">Status</a></li>

                    
                    </ul>
                </div>

                
                <div class="footer-links">

                    <h4>Siguenos</h4>
                    <div class="social-links">                    
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    
                    </div>

                    
                </div>


            </div>


        </div>
    </footer>
    
</body>
</html>