* {
  list-style: none;
}

.container {
  margin: 0 auto;
}

.footer {
  background-color: #fdfefe;
  font-family: Arial, Helvetica, sans-serif;
  padding: 80px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  color: #515a5a;
  text-align: right;
}

.footer-links {
  width: 25%;
  padding: 0px 15;
  
}

.footer-links h4:hover {
  font-size: 20px;
  color: #515a5a;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #3509d1;
  padding-bottom: 10px;
  display: inline-block;
  width: 25%;
  padding: 0px 15;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  text-align: right;
  color: #515a5a;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.footer-links ul li a:hover {
  scale: 1.05;
  border-color: #aed6f1;
  color: #2e86c1;
  padding-left: 6px;
}

.social-links a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: #bfc9ca;
  margin: 0 10px 0 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #34495e;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background-color: #85c1e9;
}

@media (max-width: 991px) {
  .footer-row {
    text-align: left;
  }

  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}

.footer {
  background-color: #fdfefe;
  font-family: Arial, Helvetica, sans-serif;
  padding: 80px 0;
}

button {
  background-color: #4caf50;
}

/* Green */
button:hover {
  background-color: #169e1d;
}

.copy {
  margin-left: 10px;
}