.footer {
  background-color: #fdfefe;
  font-family: Arial, Helvetica, sans-serif;
  padding: 80px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  color: #515a5a;
  text-align: right;
}

.footer-links {
  width: 25%;
  padding: 0px 15;
}

.footer-links h4:hover {
  font-size: 20px;
  color: #515a5a;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #3509d1;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  text-align: right;
  color: #515a5a;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.footer-links ul li a:hover {
  background-color: #aed6f1;
  border-color: #aed6f1;
  color: #2e86c1;
  padding-left: 6px;
}

.social-links a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: #bfc9ca;
  margin: 0 10px 0 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #34495e;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background-color: #85c1e9;
}

@media (max-width: 991px) {
  .footer-row {
    text-align: left;
  }

  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}

.footer {
  background-color: #fdfefe;
  font-family: Arial, Helvetica, sans-serif;
  padding: 80px 0;

  table {
    display: table;
    border: #27ae60 1px solid;
    width: 400px;
    font-size: 10;
  }

  td {
    font-size: 1.8em;
    border: #27ae60 1px solid;
    color: #169e1d;
  }

  caption {
    font-size: 1.8em;
    border: #27ae60 1px solid;
    color: #169e1d;
    text-align: center;
  }

  tr {
    font-size: 0.8em;
    border: #27ae60 1px solid;
    color: #169e1d;
    text-align: center;
  }

  img {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
  }

  form {
    border-radius: 10px;
    font-size: 1em;
    padding: 0px;
    width: 300%;
  }

  input {
    border: solid 1px #27ae60;
    font-size: 1em;
    color: #82e0aa;
    font-size: 100%;
  }

  textarea {
    border: solid 1px #27ae60;
    font-size: 1em;
    color: #82e0aa;
  }

  button {
    border: none;
    border-radius: 4px;
    color: rgb(145, 78, 114);
    padding: 14px 28px;
    cursor: pointer;
  }

  button {
    background-color: #4caf50;
  } /* Green */
  button:hover {
    background-color: #169e1d;
  }
}
