// Global styles
@import '../../styles/globales';

.contain__galery {
    margin: 65px 0 0 0;
    padding: 0;
    width: 100%;
    height: 100%;

    .containt__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & .title h1 {
            margin: 10px 0 0;
        }

        & .subtitle h3 {
            margin: 5px 0 0;
        }
    }

    .contain__elements {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .filters {
            margin: 29px 0 0 26px;
            width: 15vw;
            height: 73vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #17c3b2;
            position: relative;

            .contain__buttons {
                display: flex;
                flex-direction: column;
                gap: 3rem;

                .filter {
                    margin: 0;
                    padding: 0.8rem 1.8rem;
                    border: 1px solid #17c3b2;
                    position: relative;
                    overflow: hidden;
                    background-color: transparent;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 16px;
                    transition: 0.3s;
                    z-index: 1;
                    font-family: inherit;
                    color: #17c3b2;
                    cursor: pointer;
                }

                .filter::before {
                    content: '';
                    width: 0;
                    height: 300%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    background: #17c3b2;
                    transition: 0.5s ease;
                    display: block;
                    z-index: -1;
                }

                .filter::after {
                    content: '';
                    font-size: 24px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    white-space: nowrap;
                }

                .filter:hover::before {
                    width: 105%;
                }

                .filter:hover {
                    color: #111;
                }

                .filter:hover::after {
                    opacity: 1;
                }

                .filter .text__button {
                    opacity: 1;
                    transition: opacity 0.3s ease;
                    display: block;
                    width: 100%;
                }

                .filter:hover .text__button {
                    opacity: 0;
                }

                .filter:nth-child(1):hover::after {
                    content: '🏖️🌳🏙️⛰️';
                    font-size: 18px;
                }

                .filter:nth-child(2):hover::after {
                    content: '🏖️';
                }

                .filter:nth-child(3):hover::after {
                    content: '🌳';
                }

                .filter:nth-child(4):hover::after {
                    content: '🏙️';
                }

                .filter:nth-child(5):hover::after {
                    content: '⛰️';
                }
            }
        }
    }

    .container__images {
        margin: 2rem 20px 0  0;
        width: 75vw;
        height: 70vh;
        overflow: auto;
        border: 1px solid #17c3b2;
        gap: 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        & .images {
            margin: 10px 10px;
            display: grid;
            flex-direction: column;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 0.8rem;
        }

        .image-item {
            overflow: hidden;
            position: relative;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s, box-shadow 0.3s ease;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            & .small {
                grid-column: span 1;
                grid-row: span 1;
            }

            & .medium {
                grid-column: span 2;
                grid-row: span 2;
            }

            & .large {
                grid-column: span 2;
                grid-row: span 2;
            }
        }

        & .image-item:hover {
            transform: scale(1.05);
            
        }

        & .image-item img {
            width: 100%;
            height: 100%;
            filter: grayscale(100%);
            transition: filter 0.3s, transform 0.3s;
        }

        & .image-item img:hover {
            transform: scale(1.05);
            filter: grayscale(0%);
        }
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
        align-items: center;
        justify-content: center;

        .modal-content {
            max-width: 90%;
            max-height: 80vh;
            border-radius: 10px;
            object-fit: contain;
            transition: transform 0.3s, filter 0.3s;
        }

        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: white;
            font-size: 40px;
            font-weight: bold;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            text-decoration: none;
            transform: scale(2.0);
            cursor: pointer;
        }

        .modal-nav {
            display: flex;
            justify-content: space-around;
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
        }

        .prev, .next {
            color: white;
            font-size: 30px;
            cursor: pointer;
        }

        .prev:hover, .next:hover {
            transform: scale(2.0);
            cursor: pointer;
        }
    }
}