.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planeWrapper {
    width: 600px;
    height: 200px;
}

.paisaje {
    width: 115%;
    height: 110%;
    left: -8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    flex-direction: column;
}