// Global styles
@import '../../styles/globales';

// Carrousel
.containt__carrousel {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;

    .carrousel {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        .list__items {
            display: flex;
            position: relative;
            height: 100%;

            .item {
                position: absolute;
                inset: 0;
            }
        }

        .item:nth-child(1) {
            z-index: 1;
        }

        // Animate
        .content,
        .item:nth-child(1) .place,
        .item:nth-child(1) .location,
        .item:nth-child(1) .climate,
        .item:nth-child(1) .description,
        .item:nth-child(1) .buttons {
            transform: translateY(80px);
            opacity: 0;
            animation: showContent 0.5s 1s linear 1 forwards;
        }

        @keyframes showContent {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .content {
            animation-delay: 1.2s;
        }

        .item:nth-child(1) .place {
            animation-delay: 1.2s;
        }

        .item:nth-child(1) .location {
            animation-delay: 1.3s;
        }

        .item:nth-child(1) .climate {
            animation-delay: 1.5s;
        }

        .item:nth-child(1) .description {
            animation-delay: 1.7s;
        }

        .item:nth-child(1) .buttons {
            animation-delay: 1.8s;
        }
    }

    // Thumbnail
    .thumbnail {
        top: 60%;
        position: absolute;
        bottom: 100px;
        left: 60%;
        width: max-content;
        display: flex;
        gap: 40px;
        z-index: 100;

        .card__content {
            width: 190px;
            height: 260px;
            border-radius: 20px;
            position: relative;
            box-shadow: 0px 6px 17px 3px rgba(96, 91, 91, 0.694);
            transition: scale 0.3s ease;
            cursor: pointer;

            &:hover {
                scale: 1.1;
                box-shadow: 0px 6px 17px 3px rgb(96, 91, 91);
            }
        }
    }

    // Arrows
    .arrows {
        position: absolute;
        top: 85%;
        left: 26%;
        max-width: 30%;
        display: flex;
        gap: 20px;
        align-items: center;
        cursor: pointer;
        z-index: 100;
    }

    // Effect next click
    .carrousel.next .list__items .item:nth-child(1) img {
        width: 155px;
        height: 220px;
        position: absolute;
        left: 50%;
        bottom: 50px;
        border-radius: 20px;
        animation: showImage 0.5s linear 1 forwards;
    }

    @keyframes showImage {
        to {
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            border-radius: 0;
        }
    }

    .carrousel.next .thumbnail .item::nth-last-child(1) {
        width: 0;
        overflow: hidden;
        animation: showThumbnail 0.5s linear 1 forwards;
    }

    @keyframes showThumbnail {
        to {
            width: 150px;
        }
    }

    @keyframes transformThumbnail {
        to {
            transform: translateX(0);
        }
    }

    // Effect prev click
    .carrousel.prev .list__items .item:nth-child(2) {
        z-index: 2;
    }

    .carrousel.prev .list__items .item:nth-child(2) .carrousel__image {

        position: absolute;
        left: 0;
        bottom: 0;
        animation: outImage 0.5s linear 1 forwards;
    }

    @keyframes outImage {
        to {
            width: 190px;
            height: 260px;
            border-radius: 20px;
            bottom: 70px;
            left: 60%;
        }
    }

    .carrousel.prev .thumbnail .item:nth-child(1) {
        width: 0;
        overflow: hidden;
        opacity: 0;
        animation: showThumbnail 0.5s linear 1 forwards;
    }

    .content,
    .carrousel .list__items .item:nth-child(2) .place,
    .carrousel .list__items .item:nth-child(2) .location,
    .carrousel .list__items .item:nth-child(2) .climate,
    .carrousel .list__items .item:nth-child(2) .description,
    .carrousel .list__items .item:nth-child(2) .buttons {
        animation: contentOut 1.5s linear 1 forwards;
    }

    @keyframes contentOut {
        to {
            opacity: 0;
            transform: translateY(150px);
        }
    }

    // Time
    .time {
        width: 100%;
        height: 5px;
        background-color: #0d65d9;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s linear;
    }

    .carrousel.next .time,
    .carrousel.prev .time {
        transform: scaleX(1);
        animation: timeRunning 2s linear forwards;
    }


    @keyframes timeRunning {
        to {
            transform: scaleX(0);
        }
    }
}