---
import './Card.scss'
import  '@components/Layouts/Galeria.astro'

// Define el tipo de `image`
interface Props {
    src: string;
    alt: string;
};

// Recibe un array de imágenes como prop
const { src, alt } = Astro.props;
---

<section class="gallery-grid">
    <div class="gallery-item">
        <img src={src} alt={alt} />
    </div>
</section>
