---
import './Card.scss';

interface Props {
    title: string;
    src: string;
    description: string;
    alt: string;
    style?: string;
}

const { title, src, description, alt } = Astro.props;
---

<div class="card__container">
    <img class="card__image" src={src} alt={alt} />
    <div class="card__text">
        <div class="item__title">{title}</div>
        <p class="item__description">{description}</p>
    </div>
</div>
