---
import "./quoter.scss"
import CiudadForm from '@assets/images/destinos/ciudad_form.jpg'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

 <table>
    <td>
        <img src={CiudadForm.src} alt="ciudad_form"  height="50%">
    </td>
 </table>

 <table>
            <caption>OBTEN UNA COTIZACION PARA TU VIAJE</caption><br>
            <td>No busques, descubre</td>
 </table>
 <form >
    <input type="text" placeholder="Nombre" size="45.5%"><br>
    <input type="text" placeholder="Apellido" size="45.5%"><br>
    <input type="email" placeholder="Email">
    <input type="number" placeholder="Teléfono"><br>
    <textarea name="comentarios" id="comentarios" aria-setsize="45.5%" placeholder="Comentarios"></textarea><br>
  

 </form>
 
 <button id="enviar" type="submit">Enviar</button>
    

</body>
<script src="../../public/js/quoter.js"></script>
</html>