---
import './destination.scss';
import NavBar from '@components/Layouts/NavBar.astro';
---

<title>Destinos Populares</title>

<NavBar />

<div class="main">
  <img class="img__background" alt="" />
  <div class="container__search">
    <input
      id="search"
      class="input__text input__search"
      type="search"
      placeholder="Busca tu destino ideal"
    />
  </div>
  <div id="results" class="results">
    <!-- Las tarjetas generadas se insertarán aquí -->
  </div>
</div>

<script src="public/js/destinations.js"></script>
