---
import BackPage from '@components/buttons/BackPage.astro';
import './Login.scss';
---

<title>Login</title>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="container" id="container">
  <div class="form__container sign__up">
    <form>
      <h1>Create Account</h1>

      <div class="social__icons">
        <a href="#" class="icon"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
      </div>

      <span style="margin: 10px 0 12px">Or use your email for registration</span>

      <div class="input-group">
        <input required="" type="text" name="text" autocomplete="off" class="input" />
        <label class="email-label">
          <span style="transition-delay:0ms;">N</span>
          <span style="transition-delay:50ms;">a</span>
          <span style="transition-delay:100ms;">m</span>
          <span style="transition-delay:150ms;">e</span>
        </label>
      </div>

      <div class="input-group">
        <input required="" type="text" name="text" autocomplete="off" class="input" />
        <label class="email-label">
          <span style="transition-delay:0ms;">E</span>
          <span style="transition-delay:50ms;">m</span>
          <span style="transition-delay:100ms;">a</span>
          <span style="transition-delay:150ms;">i</span>
          <span style="transition-delay:200ms;">l</span>
        </label>
      </div>

      <div class="input-group">
        <input required="" type="text" name="text" autocomplete="off" class="input" />
        <label class="password-label">
          <span style="transition-delay:0ms;">P</span>
          <span style="transition-delay:50ms;">a</span>
          <span style="transition-delay:100ms;">s</span>
          <span style="transition-delay:150ms;">w</span>
          <span style="transition-delay:200ms;">o</span>
          <span style="transition-delay:250ms;">r</span>
          <span style="transition-delay:300ms;">d</span>
        </label>
      </div>

      <button>Sign Up</button>
    </form>
  </div>

  <div class="form__container sign__in">
    <form>
      <h1>Login</h1>

      <div class="social__icons">
        <a href="#" class="icon"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
      </div>

      <span style="margin: 10px 0 12px">Or use your email and password</span>

      <div class="input-group">
        <input required="" type="email" name="text" autocomplete="off" class="input" />
        <label class="email-label">
          <span style="transition-delay:0ms;">E</span>
          <span style="transition-delay:50ms;">m</span>
          <span style="transition-delay:100ms;">a</span>
          <span style="transition-delay:150ms;">i</span>
          <span style="transition-delay:200ms;">l</span>
        </label>
      </div>

      <div class="input-group">
        <input required="" type="text" name="text" autocomplete="off" class="input" />
        <label class="password-label">
          <span style="transition-delay:0ms;">P</span>
          <span style="transition-delay:50ms;">a</span>
          <span style="transition-delay:100ms;">s</span>
          <span style="transition-delay:150ms;">w</span>
          <span style="transition-delay:200ms;">o</span>
          <span style="transition-delay:250ms;">r</span>
          <span style="transition-delay:300ms;">d</span>
        </label>
      </div>

      <a href="#"> Forgot your password? </a>
      <button>Sign In</button>
    </form>
  </div>

  <div class="toggle__container">
    <div class="toggle">
      <div class="toggle__panel toggle__left">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details to use all of site features</p>
        <button class="hidden" id="login">Sign In</button>
      </div>

      <div class="toggle__panel toggle__right">
        <h1>Welcome Back!</h1>
        <p>Register with your personal details to use all of site features</p>
        <button class="hidden" id="register">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<BackPage>
  <script>
    const container = document.getElementById('container');
    const registerBtn = document.getElementById('register');
    const loginBtn = document.getElementById('login');

    if (registerBtn) {
      registerBtn.addEventListener('click', () => {
        if (container) container.classList.add('active');
      });
    }

    if (loginBtn) {
      loginBtn.addEventListener('click', () => {
        if (container) container.classList.remove('active');
      });
    }
  </script>
</BackPage>