// Card Information 
.carrousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.content {
    position: absolute;
    top: 15%;
    left: 6%;
    max-width: 50%;
    padding: 0 8% 0 2%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2666666667);
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.334);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5%;

    & .place {
        margin-top: 15px;
        font-size: 2rem;
        letter-spacing: 5px;
        font-weight: 800;
    }

    & .location,
    .climate {
        font-weight: 900;
        font-size: 3rem;
    }

    & .place {
        text-transform: capitalize;
    }

    & .description {
        font-size: 2rem;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 26px;
    }

    & .location {
        color: #0d65d9;
        text-transform: uppercase;
    }

    & .climate {
        text-transform: capitalize;
        text-shadow: 0 0 0 0 $secondary-blue;
    }

    & .buttons {
        margin: 20px 0 20px 30px;
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: 40px;
        gap: 15px;
        cursor: pointer;
        display: flex;
        align-items: start;

        & button {
            padding: 15px 30px;
            letter-spacing: 3px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 600;
            cursor: pointer;
        }

        & button:nth-child(1) {
            background-color: transparent;
            color: white;
            border: 2px solid #ffffff;
            border-radius: 8px;
            transition: background-color 0.5s ease;

            &:hover {
                background-color: #ffffff;
                color: rgba(0, 0, 0, 0.672);
            }
        }

        & button:nth-child(2) {
            background-color: #ffffff;
            border: 1px solid transparent;
            border-radius: 8px;
            transition: background-color 0.5s ease, border 0s ease, color 0.5s ease;

            &:hover {
                background-color: transparent;
                border: 2px solid #ffffff;
                color: #ffffff;
            }
        }
    }
}