---
interface LayoutProps {
  title: string;
}

const { title } = Astro.props;

import NavBar from '@components/Layouts/NavBar.astro';
import Bienvenida from '@components/bienvenida/Bienvenida.astro';
import UpTopPage from '@components/buttons/UpTopPage.astro';
import Footer from '@components/Layouts/Footer.astro';
import Paquete from '@components/promociones/paquete.astro';
import Testimonials from '@components/testimonios/Testimonials.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{title}</title>
    <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/x-icon" />
  </head>
  <body>
    <NavBar />
    <UpTopPage />
    <slot />
    <Bienvenida />
    <Paquete />
    <Testimonials />
    <Footer />
  </body>
</html>

<style>
  body {
    position: relative;
  }
</style>
