---
interface LayoutProps {
  title: string;
}

const { title } = Astro.props;

import NavBar from '@components/Layouts/NavBar.astro';
import UpTopPage from '@components/buttons/UpTopPage.astro';
import Footer from '@components/Layouts/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <slot />
    <UpTopPage />

    <!-- Queda pendiente el Footer debido a algunas incompatibilidades -->
  </body>
</html>

<style>
  body {
    position: relative;
  }
</style>
