---
interface LayoutProps {
  title: string;
}

const { title } = Astro.props;

import NavBar from '@components/Layouts/NavBar.astro';
import Slider from '@components/Layouts/Slider.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <Slider>
  </body>
</html>
